.navbar{
    width: 100%;
    top: 0;
    z-index: 3;
    
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
    color: black;
    padding: 15px;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link{
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover{
   background-color: rgba(94, 94, 235, 0.829);
   transition: 0.9s;
   border-radius: 10px;
}
.main{
    position: relative;
}
.main img{
    margin-top: 40px;
}
.main h1{
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    position: absolute;
    top: 120px;
    left: 420px;
}
.yaqOZd-lQAHbd{
    color: #fff;
    background-color:  rgba(79, 105, 218, 0.829);
    height: 250px;
}
.yaqOZd-lQAHbd2{
    position: relative;
    margin-top: 50px;
    color: #fff;
    background-color:  rgba(79, 105, 218, 0.829);
    height: 100px;
    font-size: large;
    font-weight: 700;
}
.strong{
    position: absolute;
    top: 50px;
    left: 35%;
}
.card{
    margin-top: 30px;
}
.card-title{
    text-align: center;
    color: rgba(7, 7, 228, 0.829);
}
.card-text{
    color: rgba(7, 7, 228, 0.829);
}
.motifshon{
    margin: 100px 200px;
}
.contact{
    margin-top: 100px;
    display: flex;

}
.contact .div2{
    margin-left: 100px;
}

.layout_padding2-top {
    padding-top: 45px;
  }
  .p1{
    color: rgba(7, 7, 228, 0.829);

  }
  .caont{
    display: block;
  }
  .hisham{
    margin-left: 150px;
  }
  .iframe{
    margin-left: 350px;
  }
  .CDt4Ke-zfr3Q1{
    font-weight: 700;
    font-size: x-large;
  }
@media (max-width:900px){
    .main h1{
        z-index: 1;
        position: absolute;
        top: 10px;
        left: 40px;
    }
    .contact{
        margin-top: 100px;
        display: block;
    }
    .contact .div2{
        width: 300px;
        margin-left: 0px;

    }
    .motifshon h3{
        display: flex;
    }
    .main img{
        margin-top: 60px;
    }
}
@media (max-width:500px){
    .main h1{
        z-index: 1;
        position: absolute;
        top: 10px;
        left: 40px;
    }
    .contact{
        margin-top: 100px;
        display: block;
    }
    .contact .div2{
        width: 300px;
        margin-left: 0px;

    }
    .motifshon h3{
        display: flex;
    }
    .main img{
        margin-top: 60px;
    }
    .yaqOZd-lQAHbd{
        color: #fff;
        background-color: rgba(62, 62, 204, 0.829);
        height: 330px;
    }
    .strong{
        position: absolute;
        left: 15%;
    }
    .hisham{
        width: 300px;
        margin: 10px 0;
      }
      .iframe{
       width: 300px;
       margin: 10px 0;
      }
      .div-img img{
        width: 350px;
        height: 300px;
        margin-top: 50px;
      }
}
